// Fest 2017 styles

.photo_bg {
    background: url(/assets/slider/dance_2015.jpg) no-repeat;
    background-size: cover;
    background-position: 0% 0%;
    text-align: center;
    background-attachment: scroll;
    min-height: 100%;
    padding-top: 12%;
    padding-bottom: 9%;
    margin-bottom: 7%;
}

/* Block margins */

.triangle_bg_1, .triangle_bg_2, .triangle_bg_3, .triangle_bg_4, .triangle_bg_topics, .triangle_bg_tickets {
    margin-top: 3%;
}
.blank_bg {
    background-color: #FFF;
    width: 100%;
    margin-top: 0px;
    padding-top: 90px; /* This is 90px for block anchors, to avoid heading hide behind nav */
}